body {
    background-color:#7fdbda;
  }

  hr {

    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;
  }

  h1 {
    color: #ba7967;
    font-style: oblique;

  }

  h3 {
    color: #ba7967;
  }
img{
  height: 125px;
  width: 200;
}
